{% extends "base.html" %}

{% block content %}
<div class="fade">
    <span class="massive_tick">#</span>
    <div id="gamebox">
        <ul class="ticks">
            <li class="x"><span></span></li>
            <li class="x"><span></span></li>
            <li class="x"><span></span></li>
        </ul>
        <ul class="ticks">
            <li class="x"><span></span></li>
            <li class="x"><span></span></li>
            <li class="x"><span></span></li>
        </ul>
        <ul class="ticks">
            <li class="x"><span></span></li>
            <li class="x"><span></span></li>
            <li class="x"><span></span></li>
        </ul>
    </div>
</div>
{% endblock %}
